body {
    background-color: aqua;
    font-family: 'Abel', 'Barlow', sans-serif;
}

.spectral {
    font-family: 'Spectral SC', serif;
}

.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

header img {
    float: right;
}

article img {
    float: left;
}


.side-nav-container {
    clear: both;
    float: left;
    background-color: plum;
    padding: 4px 4px 4px 4px;
    width: 25%;
    height: 500px;
}


.side-nav-container ul {
    margin-top: 5px;
}

.side-nav-container ul li {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
}


aside h1 {
    font-size:30pt;
}

footer {
    font-size:24pt;
    padding: 8px 8px 8px 8px;
}


